.nowrap { white-space: nowrap; }

strong { font-weight: 600; }

h1.main-title { margin-bottom: 0; font-size: 24px; }
.admin-logo { color: #fff; font-size: 19px; }

li.nav-header { padding: 19px 25px 18px 25px; border-bottom: 1px solid #394958; }

.welcome-message strong { color: #293846; }

td.thin, th.thin { width: 1%; white-space: nowrap; }
#orders-list tr { cursor: pointer; }
div.title-action { padding-top: 19px; }

.table td.text-right, .table th.text-right { padding-right: 30px; }

th .v-hidden { visibility: hidden; }

.item-img { width: 150px; }
.text-lg { font-size: 17px; }

.order-status-dropdown { margin-bottom: 10px; }

.products-list .contact-box h3 { white-space: nowrap; }

.note-editor .note-editable { border: 1px solid #e7eaec; }

.no-margin-bottom {
	margin-bottom: 0 !important;
}

.product-info .nav-tabs {  }
.product-info .nav-tabs .active a, .product-info .nav-tabs li:hover a { background: #fff; border: 1px solid transparent; border-bottom: 1px solid #ddd; }

.table-sizes tbody td { width: 33%; border: none !important; }
.table.table-sizes td.text-right, .table.table th.text-right { padding-right: 20px; }

.product-addon tbody td { vertical-align: middle !important; border: none !important; }

.form-success { display: none; }
.summernote-textarea { display: none; }

button.file-upload { position: relative; }
button.file-upload input[type="file"] { width: 100%; height: 100%; position: absolute; top: 0; left: 0; cursor: pointer; opacity: 0; }

#product-photo-list { overflow: hidden; margin: 0 0 10px 0; padding: 0; list-style: none; }
#product-photo-list li { width: 20%; margin: 0 0 5px 0; padding: 0; float: left; position: relative; }
#product-photo-list li a { display: block; border: 2px solid transparent; }
#product-photo-list li a.active { border: 2px solid #1AB397; }
#product-photo-list li img { width: 100%; }
#product-photo-list li div.photo-delete { position: absolute; display: none; top: 5px; right: 5px; text-align: center; width: 20px; height: 20px; border-radius: 50%; background: #fff; cursor: pointer; }
#product-photo-list li:hover div.photo-delete { display: block; }
#product-photo-list li div.photo-delete:hover { color: #ed5565; }
#product-photo-list li div.photo-cover { display: none; position: absolute; top: 5px; left: 5px; text-align: center; width: 20px; height: 20px; border-radius: 50%; background: #fff; cursor: pointer; }
#product-photo-list li div.photo-cover:hover { color: #1AB397; }
#product-photo-list li:hover div.photo-cover { display: block; }
#product-photo-list li div.photo-cover.active { display: block; color: #1AB397; }

#dummy-photo { text-align: center; font-size: 50px; padding: 30px 0; background: #f9f9f9; }

.add-option-wrap { padding: 10px 0 10px 10px; }

#pages-list tr { cursor: pointer; }